@import url('https://fonts.googleapis.com/css2?family=Poppins:wghht@300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

body{
       
    height: 100vh;
    background-color: black;
    background-image: url(https://rare-gallery.com/thumbnail/29025-Aki-HayakawaAki-Hayakawa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: rgb(230, 161, 13);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo{
    font-size: 25px;
    color:red;
    text-decoration: none;
    font-weight: 600;
}
